body{
    background-color: teal;
}

.title-head{
    padding-top: 40px;
    margin: auto;
    font-family: universe;
    color: cornsilk;
    width:80%
}

.question-1-box{
    width: 80%;
    margin: auto;
    padding: 20px;
}

.question-1
{
    width: 35%;
    float: left;
}

.display-1
{
    margin-left: 15%;
}

.button-1{
    width: 50px;
    height: 30px;
}

.button-2{
    width: 75px;
    height: 40px;
}

.generate-box{
    width: 80%;
    margin: auto;
}